@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Quicksand:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  user-select: none;
  background-color: #212121;
}

.no-padding {
  padding: 0px !important;
}

.bg-progress {
  background-color: #00ffcc;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}

.font-montserrat-300 {
  font-weight: 300;
}

.font-montserrat-400,
.font-quicksand-400 {
  font-weight: 400;
}

.font-montserrat-500,
.font-quicksand-500 {
  font-weight: 500;
}

.font-montserrat-600,
.font-quicksand-600 {
  font-weight: 600;
}

.font-montserrat-700,
.font-quicksand-700 {
  font-weight: 700;
}

.font-montserrat-900 {
  font-weight: 900;
}
